<div>
    <div>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sungur Software</a>
            <input class="form-control form-control-light w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" style="color: rgb(15, 14, 14);font-weight: bold;">
                             <span><i class="fa fa-home" style="font-size:20px;margin-right: 5px;"></i></span>
                                Anasayfa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: rgb(15, 14, 14);font-weight: bold;" >
                               <span><i class="fa fa-heartbeat"  style="font-size:20px;margin-right: 5px;"></i></span>
                                Randevular
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"  style="color: rgb(15, 14, 14);font-weight: bold;">
                              <span>  <i class="fa fa-user-md"   style="font-size:20px;margin-right: 5px;"></i></span>
                                Doktorlar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"  style="color: rgb(15, 14, 14);font-weight: bold;">
                                <span > <i class="fa fa-medkit"  style="font-size:20px;margin-right: 5px;"></i></span>
                                Departmanlar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"  style="color: rgb(15, 14, 14);font-weight: bold;">
                                <span ><i class="fa fa-wheelchair-alt" style="font-size:20px;margin-right: 5px;" ></i></span>
                                Hastalar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"  style="color: rgb(15, 14, 14);font-weight: bold;">
                                <span><i class="fa fa-money"  style="font-size:20px;margin-right: 5px;"></i></span>
                                Ödemeler
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"  style="color: rgb(15, 14, 14);font-weight: bold;">
                                <span ><i class="fa fa-cog fa-spin" style="font-size:20px; margin-right: 5px;"></i> </span>
                                Ayarlar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>